#menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5%;
}

#menuIcon {
	padding-top: 7%;
	color: rgb(85, 117, 35);
	font-size: x-large;
	font-weight: bolder;
	border-bottom: 2px solid rgb(85, 117, 35);
}

#menuSmallIcon {
	padding: 1% 0;
	font-size: 6vh;
}

#cardsContainer {
	display: grid;
	width: 90%;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	grid-auto-rows: auto;
	gap: 4%;
	grid-row-gap: 4%;
}

.itemTypeHeadings {
	font-size: x-large;
	color: green;
	text-align: center;
}

.menuItem {
	display: flex;
	justify-content: space-between;
	padding: 0 8vw;
}
